<launch>
	<arg name="uavname" default="fpv" />
	<arg name="odom_topic" default="/airsim/odom" />
	<arg name="cmd_topic" default="/planning/pos_cmd" />
	<arg name="imu_topic" default="/airsim_node/drone_1/imu/Imu" />

	<node pkg="px4ctrl" type="px4ctrl_node" name="px4ctrl" output="screen">
		<remap from="~odom" to="$(arg odom_topic)" />
		<remap from="~cmd" to="$(arg cmd_topic)" />
		<remap from="~imu" to="$(arg imu_topic)" />
        <rosparam command="load" file="$(find px4ctrl)/config/ctrl_param_$(arg uavname).yaml" />
	</node>
 
</launch>
