<launch>
    <rosparam command="load" file="$(find active_mapping)/config/airsim_mapping.yaml" />

    <arg name="enable_teleop" default="true"/>
    <arg name="enable_capture" default="true"/>
    <arg name="capture_output_dir" default="/home/xhy/mapping_GS/active_recon_ws/viewpoint_captures/mycolmap_same_source"/>
    <arg name="camera_axis_variant" default="swap_yz_flip_y"/>
    <arg name="pose_rotation_semantics" default="rwc"/>

    <node pkg="active_mapping" type="airsim_frontend.py" name="airsim_frontend" output="screen"/>

    <node pkg="tf2_ros" type="static_transform_publisher" name="base_to_camera_tf"
          args="0 0 0 -1.5708 0 -1.5708 base_link camera_optical_frame" />

    <node pkg="nodelet" type="nodelet" name="vision_nodelet_manager" args="manager" output="screen"/>

    <node pkg="nodelet" type="nodelet" name="point_cloud_xyzrgb"
          args="load rtabmap_util/point_cloud_xyzrgb vision_nodelet_manager" output="screen">
        <remap from="rgb/image"       to="/airsim/rgb"/>
        <remap from="depth/image"     to="/airsim/depth"/>
        <remap from="rgb/camera_info" to="/airsim/camera_info"/>
        <remap from="cloud"           to="/airsim/point_cloud"/>
    </node>

    <node if="$(arg enable_capture)" pkg="active_mapping" type="airsim_capture_syncd_same_source.py" name="airsim_capture_syncd_same_source" output="screen">
        <param name="output_dir" value="$(arg capture_output_dir)"/>
        <param name="camera_axis_variant" value="$(arg camera_axis_variant)"/>
        <param name="pose_rotation_semantics" value="$(arg pose_rotation_semantics)"/>
    </node>

    <node if="$(arg enable_teleop)" pkg="active_mapping" type="airsim_teleop.py" name="airsim_teleop" output="screen" />
    <node pkg="active_mapping" type="custom_teleop.py" name="custom_teleop" output="screen" />
</launch>
