<launch>
    <arg name="config" default="$(find active_mapping)/config/airsim_mapping.yaml"/>
    <rosparam command="load" file="$(arg config)"/>

    <node pkg="active_mapping" type="airsim_frontend.py" name="airsim_frontend" output="screen"/>

    <node pkg="tf2_ros" type="static_transform_publisher" name="base_to_camera_tf" 
          args="0 0 0 -1.5708 0 -1.5708 base_link camera_optical_frame" />

    <node pkg="nodelet" type="nodelet" name="vision_nodelet_manager" args="manager" output="screen"/>

    <!-- 点云密度更高，适合用来做纹理商分析 -->
    <node pkg="nodelet" type="nodelet" name="depth_to_cloud_official" 
          args="load depth_image_proc/point_cloud_xyzrgb vision_nodelet_manager" output="screen">
        
        <remap from="rgb/camera_info"             to="/airsim/camera_info"/>
        <remap from="rgb/image_rect_color"        to="/airsim/rgb"/>
        <remap from="depth_registered/image_rect" to="/airsim/depth"/>
        <remap from="depth_registered/points"     to="/airsim/point_cloud"/>
    </node>

    <node pkg="active_mapping" type="active_mapping_node" name="active_mapping_backend" output="screen">
        <remap from="/cloud"           to="/airsim/point_cloud"/>
        <remap from="/global_map"           to="/active_mapping/global_map"/>
    </node>

    <node pkg="active_mapping" type="airsim_teleop.py" name="airsim_teleop" output="screen" />

</launch>
