<launch>
    <arg name="map_type" default="pointcloud"/>
    <arg name="global_frame_id" default="world"/>
    <arg name="publish_freq" default="10.0"/>
    <arg name="max_queue_size" default="3"/>
    <arg name="publish_only_on_update" default="true"/>

    <arg name="use_nodelet_cloud" default="false"/>
    <arg name="use_external_pose_tf" default="true"/>

    <arg name="rgb_topic" default="/airsim/rgb"/>
    <arg name="depth_topic" default="/airsim/depth"/>
    <arg name="camera_info_topic" default="/airsim/camera_info"/>
    <arg name="cloud_topic" default="/cloud_alin_color"/>
    <arg name="pose_topic" default="/airsim/pose"/>
    <arg name="pose_type" default="PoseStamped"/>
    <arg name="odom_topic" default="/airsim/odom"/>
    <arg name="camera_frame_id" default="camera_optical_frame"/>

    <arg name="frontend_decimation" default="2"/>
    <arg name="frontend_voxel_size" default="0.05"/>
    <arg name="frontend_max_depth" default="15.0"/>

    <arg name="enable_backend_voxel_filter" default="true"/>
    <arg name="backend_downsample_size" default="0.05"/>
    <arg name="backend_max_depth" default="20.0"/>
    <arg name="ikd_tree_downsample" default="true"/>

    <arg name="compute_normals" default="false"/>
    <arg name="knn_k" default="15"/>
    <arg name="w_geom" default="0.4"/>
    <arg name="w_color" default="0.3"/>
    <arg name="w_sparse" default="0.3"/>
    <arg name="publish_geom_map" default="true"/>
    <arg name="publish_color_map" default="true"/>

    <arg name="surfel_radius" default="0.10"/>
    <arg name="depth_tolerance" default="0.05"/>
    <arg name="init_pca_k" default="10"/>
    <arg name="w_hole" default="0.4"/>

    <group if="$(arg use_external_pose_tf)">
        <node pkg="active_mapping"
              type="external_pose_tf_broadcaster.py"
              name="external_pose_tf_broadcaster"
              output="screen">
            <param name="pose_topic" value="$(arg pose_topic)"/>
            <param name="pose_type" value="$(arg pose_type)"/>
            <param name="parent_frame" value="$(arg global_frame_id)"/>
            <param name="child_frame" value="$(arg camera_frame_id)"/>
        </node>
    </group>

    <group if="$(arg use_nodelet_cloud)">
        <node pkg="nodelet" type="nodelet" name="vision_nodelet_manager" args="manager" output="screen"/>

        <node pkg="nodelet" type="nodelet" name="point_cloud_xyzrgb"
              args="load rtabmap_util/point_cloud_xyzrgb vision_nodelet_manager" output="screen">
            <remap from="rgb/image" to="$(arg rgb_topic)"/>
            <remap from="depth/image" to="$(arg depth_topic)"/>
            <remap from="rgb/camera_info" to="$(arg camera_info_topic)"/>
            <remap from="cloud" to="$(arg cloud_topic)"/>

            <param name="decimation" type="int" value="$(arg frontend_decimation)"/>
            <param name="voxel_size" type="double" value="$(arg frontend_voxel_size)"/>
            <param name="max_depth" type="double" value="$(arg frontend_max_depth)"/>
        </node>
    </group>

    <node pkg="active_mapping" type="active_mapping_node" name="active_mapping_backend" output="screen">
        <remap from="/cloud_alin_color" to="$(arg cloud_topic)"/>

        <param name="map_type" value="$(arg map_type)" />
        <param name="global_frame_id" value="$(arg global_frame_id)" />
        <param name="publish_freq" value="$(arg publish_freq)" />
        <param name="max_queue_size" value="$(arg max_queue_size)" />
        <param name="publish_only_on_update" value="$(arg publish_only_on_update)" />

        <param name="enable_backend_voxel_filter" value="$(arg enable_backend_voxel_filter)" />
        <param name="downsample_size" value="$(arg backend_downsample_size)" />
        <param name="max_depth" value="$(arg backend_max_depth)" />
        <param name="ikd_tree_downsample" value="$(arg ikd_tree_downsample)" />
        <param name="compute_normals" value="$(arg compute_normals)" />
        <param name="knn_k" value="$(arg knn_k)" />
        <param name="publish_geom_map" value="$(arg publish_geom_map)" />
        <param name="publish_color_map" value="$(arg publish_color_map)" />

        <param name="w_geom" value="$(arg w_geom)" />
        <param name="w_color" value="$(arg w_color)" />
        <param name="w_sparse" value="$(arg w_sparse)" />

        <param name="surfel_radius" value="$(arg surfel_radius)" />
        <param name="depth_tolerance" value="$(arg depth_tolerance)" />
        <param name="init_pca_k" value="$(arg init_pca_k)" />
        <param name="w_hole" value="$(arg w_hole)" />
    </node>
</launch>
